* {margin:0; padding:0;}

/*common*/
li {list-style:none;}
a {text-decoration:none;}
img {vertical-align:top;}
body {background:#fff; color:#444; font-size:12px; font-family: sans-serif;}
.wrapper {width:1160px; margin:0 auto;}
button {font-weight:bold; font-size:11px; border:none; cursor:pointer; border-radius:30px;}

/*top*/
#top {height:60px; border-bottom:1px solid gray; line-height:60px; text-align:center; position:relative;}
#top li {border-right:1px solid lightgray;}
#top ul {border-left:1px solid lightgray;}
#top .top_left {float:left;}
#top .top_left li {padding:0 10px; float:left;}
#top .top_right {float:right;}
#top .top_right li {padding:0 10px; float:left;}

/*navigation*/
#nav {height:80px; border-bottom:1px solid lightgray;}
#nav .logo {float:left;}
#nav .logo img {margin-top:10px;}
#nav .menu {margin-top:25px; float:right;}
#nav .menu li.home {background:#b8cc06; color:#fff;}
#nav .menu li.home a{color:#fff;}
#nav .menu .menuname {height:30px; line-height:30px; padding:0 15px; border-radius:15px; float:left; position:relative;}
#nav .menu .menuname a {color:#000;}
#nav .menu .menuname:hover {background:#b8cc06; transition:200ms linear}
#nav .menu .menuname:hover a{color:#fff; transition:200ms linear}

#nav .menu .home .menubox {width:500px; height:500px; background:#fff; position:absolute; z-index:1000; border-bottom-left-radius:5px; border-bottom-right-radius:5px; margin-top:31px;}
#nav .menu .home .menubox ul {margin:20px;}
#nav .menu .home .menubox ul a {color:#444; font-size:11px;}



/*Topslider*/
#TopSlider {width:1160px; position:relative;}
#TopSlider .container {width:1160px; overflow:hidden;}
#TopSlider .slide {width:3480px;}
#TopSlider .slide li {width:1160px; float:left;}
#TopSlider .slide li img {width:100%;}


/*collection*/
#collection {height:340px;}
#collection .relax, .street {float:left; width:580px; height:340px; color:#fff; position:relative; overflow:hidden; }
#collection .relax {background:url(../images/collection01.jpg); background-size:cover;}
#collection .street {background:url(../images/collection02.jpg); background-size:cover;}
#collection .desc {width:400px; height:220px; margin:0 auto; position:absolute; top:60px; left:80px;}
#collection h2 {margin:20px 0; font-size:30px;}
#collection .text {font-size:16px;}
#collection button {background:#fff; width:140px; height:50px; color:#000; text-align:center; line-height:50px; position:absolute; left:80px; bottom:60px;}
#collection button:hover {background:#b8cc06; color:#fff; transition:200ms linear;}
#collection .veil {width:580px; height:640px; background:#b8cc06; opacity:0.2; position:absolute; top:-850px;
            transition:500ms linear}
#collection .relax:hover .veil {display:block; top:0;}
#collection .street:hover .veil {display:block; top:0;}

/*product*/
#product {height:480px; border-bottom:1px #ddd solid; margin-top:30px;}
#product li {width:240px; height:480px; margin:0 25px; background:#fff; float:left;  }
#product li img {width:95%}
#product li .desc {width:90%; margin-top:20px;}
#product .name {font-weight:bold; margin:6px 0;}
#product .rate {font-size:16px; color:#b8cc06; margin:5px 0;}
#product .text {line-height:20px; font-size:13px;}
#product .price {font-size:15px; margin:12px 0;}

/*special offer*/
#special {margin-top:50px;}
#special .title {text-align:center;}
#special h2 {font-size:40px;}
#special .content {margin:60px 0;}
#special .desc {width:330px; height:400px; float:right; margin-right:50px;}
#special .desc h3 {font-size:28px; transition:200ms linear;}
#special .desc h3:hover {color:#b8cc06; cursor:pointer;}
#special .desc .price {font-size:18px; margin:10px 0 25px;}
#special .desc .price span {color:#b8cc06;}
#special .desc p {line-height:20px;}
#special button {background:#b8cc06; color:#fff; width:125px; height:50px; margin:30px 0; transition:200ms linear;}
#special button:hover {background:#94bf1d;}
#special button.cart {background:#333;}
#special button.cart:hover {background:#b8cc06;}


/*new*/
#new .title {text-align:center;}
#new .title h2 {font-size:40px;}
#new .category {width:1160px; height:320px; margin-top:70px; position:relative;}
#new .category h3 {height:30px; line-height:30px; padding:0 20px; border-radius:15px; border:1px #ddd solid;
            float:left; margin:0 15px; cursor:pointer;}
#new .category .all h3 {margin-left:240px;}
#new .category .item {display:none;}
#new .category .all .item {display:block;}
#new .item {height:320px; margin-top:60px; position:absolute;}
#new .item li {float:left; width:212px; height:320px; text-align:center; margin:0 10px;}
#new .item img {width:80%;}
#new .item .name {font-weight:bold; margin:5px 0;}
#new .item .rate {color:#b8cc06; margin:5px 0;}
#new .item .price {font-size:15px; margin:10px 0;}
.active {background:#b8cc06; color:#fff;}

/*series*/
#series {margin-top:90px;}
#series .title {text-align:center;}
#series .title h2 {font-size:40px;}
#series .content {margin-top:70px;}
#series .item {float:right;}
#series .item li {float:left; text-align:center; width:265px; margin:0 10px;}
#series .item .name {font-size:18px; font-weight:bold;}
#series .item .text {font-size:12px; margin:5px 0;}
#series .item .price {font-size:15px; margin:15px 0;}
#series .item button {background:#b8cc06; border:none; color:#fff; font-size:11px; border-radius:30px; padding:15px 20px;}
#series .item button:hover {background:#94bf1d; transition:200ms linear;}


/*Middle Slider*/
#MidSlider {margin:70px 0;}
#MidSlider .container {width:1160px; overflow:hidden;}
#MidSlider .slide {width:2320px;}
#MidSlider .slide .card {width:1160px; height:545px; background:url(../images/MidSliderbg01.jpg); background-size:cover;                       float:left; position:relative;}
#MidSlider .slide .thumnail {width:70px; height:210px; transform:translateY(50%); margin-left:20px;}
#MidSlider .slide .thumnail li {width:70px; height:70px; border-radius:50%; border:1px #fff solid;}
#MidSlider .slide .card .mainpic {margin-top:auto; position:absolute; top:40px; left:80px;}
#MidSlider .slide .card .desc {margin-top:80px; position:absolute; right:0; color:#fff; width:570px; top:30px;}
#MidSlider .slide .card .desc h2 {font-size:40px; margin:30px 0;}
#MidSlider .slide .card .desc p {font-size:16px; margin:20px 0;}
#MidSlider .slide .card .desc p.price {font-size:18px; margin-top:50px;}
#MidSlider .card .button {position:absolute; right:60px; top:320px;}
#MidSlider .card .button button {background:#fff; color:#000; width:140px; height:50px; margin:0 5px;}
#MidSlider .card .button button.cart {background:#333; color:#fff;}
#MidSlider .card .button button:hover {background:#b8cc06; color:#fff; transition:200ms linear;}

/*accessories*/
#acce .title {text-align:center;}
#acce .title h2 {font-size:40px;}
#acce .item {text-align:center;}
#acce .item ul {width:1160px; margin:0 auto; float:left;}
#acce .item li {width:150px; margin:20px; float:left; text-align:center; position:relative;}
#acce .item li .cover {width:150px; height:125px; background:#fff; position:absolute; top:0; opacity:0;}
#acce .item li .cover button {width:110px; height:30px; margin:5px auto;}
#acce .item li .cover button.quickview {background:#333;}
#acce .item li .cover .button {margin-top:60px;}
#acce .item li:hover .cover {opacity:1; transition:200ms ease;}
#acce .item li:hover .button {margin-top:20px; transition:300ms ease;}
#acce .item p {font-size:11px; margin:10px 0;}
#acce .item .name {font-weight:bold;}
#acce button {background:#b8cc06; color:#fff; border-radius:30px; width:190px; height:50px; margin:0 auto;}


/*Bottom Banners*/
#BotBanner {width:1160px; height:550px; margin-top:60px; overflow:hidden;}
#BotBanner .box {width:33.33%; height:450px; float:left; position:relative;}
#BotBanner .inner {height:100%; margin:0 10px; border-radius:5px; overflow:hidden;}
#BotBanner .box .desc {width:300px; margin:0px auto; top:40px; left:40px; position:absolute; color:#fff;} 
#BotBanner .box h3 {font-size:30px; margin-top:10px;}
#BotBanner .box P {font-size:16px; margin-top:30px;}
#BotBanner .box1 .inner {background:url(../images/BotBanner01.jpg);}
#BotBanner .box2 .inner {background:url(../images/BotBanner02.jpg); background-size:cover;}
#BotBanner .box3 .inner {background:url(../images/BotBanner03.jpg); background-size:cover;}
#BotBanner .desc {text-align:center}
#BotBanner button {background:#333; color:#fff; border-radius:30px; width:130px; height:50px; margin:30px 0;}
#BotBanner button:hover {background:#b8cc06; transition:200ms linear;}
#BotBanner .veil {width:95%; height:450px; background:#b8cc06; opacity:0.3; position:absolute; top:-450px;}
#BotBanner .box:hover .veil {top:0; display:block; transition:200ms linear;}

/*subscription*/ 
#subs {width:1160px;}
#subs .content {width:550px; text-align:center; float:right; margin:150px 100px 0px;}
#subs .desc span {color:#b8cc06;}
#subs .desc .title {font-size:16px;}
#subs .desc h2 {font-size:28px; margin:10px 0;}
#subs .desc .text {margin:15px 0; font-size:13px;}
#subs .email {border:1px #ddd solid; border-radius:30px; width:500px; height:40px; position:relative; margin:50px 0;}
#subs .email input {border-color:transparent; height:20px; width:300px; position:absolute; left:10px; top:8px;}
#subs .email button {background:#b8cc06; color:#fff; border-radius:30px; width:100px; height:40px; position:absolute; right:0;}


/*footer*/
#footer {width:100%; height:400px; background:#333; color:#fff; font-size:11px;}
#footer .box {width:260px; height:300px; float:left; margin-top:50px; margin-left:30px;}
#footer h2 {font-size:13px; margin-bottom:20px;}
#footer a { color:#919191;}

#footer .exzo {margin-left:0;}
#footer .exzo p {font-size:12px; line-height:22px; color:#919191;}
#footer .exzo p.contact {line-height:28px;}
#footer .links ul.links01 {float:left;}
#footer .links ul.links02 {float:right;}
#footer .links li {margin:15px 0; width:120px;}
#footer .links li:hover a {color:#b8cc06; transition:200ms linear;}

#footer .posts li {width:260px; height:80px;}
#footer .posts li img {width:70px; height:30px;}
#footer .posts .desc {float:right; width:180px;}
#footer .posts .date {color:#919191;}
#footer .posts li p.text:hover {color:#b8cc06; transition:200ms linear;}
#footer .tags li {background:#404040; padding:10px 10px; float:left; border-radius:30px; margin:5px 5px;}
#footer .tags li:hover {background:#b8cc06; color:#fff; transition:200ms linear;}
#footer .tags li:hover a {color:#fff;}

/*fixed bottom*/
#fixedBot {width:100%; height:58px; background:rgba(51,51,51,0.8); position:fixed; bottom:0; color:#fff;}
#fixedBot .wrapper {position:relative; font-weight:bold;}
#fixedBot .policy {margin-top:8px; float:left;}
#fixedBot .policy p {line-height:22px;}
#fixedBot .accept {width:450px; height:58px; position:absolute; top:0; right:0; line-height:58px;}
#fixedBot .accept p {float:left;}
#fixedBot .accept button {float:right; background:#b8cc06; color:#fff; border-radius:30px; padding:10px 20px; font-size:12px;
            margin:12px 5px;  transition:200ms linear;}
#fixedBot .accept button:hover {background:#94bf1d;}
#fixedBot .accept button.noThx {background:#333;}
#fixedBot .accept button.noThx:hover {background:#b8cc06;}

